# The sdist carries the sources, the README, the licence — and nothing else.
# setuptools sweeps a tests/ directory beside pyproject.toml into the sdist by default; the
# prune below keeps a future tests/ directory out of the published tarball.
prune tests
global-exclude *.pyc
global-exclude __pycache__/*
prune build
prune .pytest_cache
